.foot {
  width: 100%;

  background-color: black;

  p {
    color: white;
    display: flex;
    justify-content: center;
    padding: 20px;
    font-family: 'Josefin Sans', sans-serif;

  }

  span {
    color: #20c997;
    font-family: 'Josefin Sans', sans-serif;

  }
}